.container-album {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #3498db;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

p[data-testid="artist-name"] {
  font-size: 18px;
  color: #297fb8;
  margin-bottom: 10px;
}

p[data-testid="album-name"] {
  font-size: 24px;
  color: #297fb8;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  color: #297fb8;
  margin-bottom: 15px;
}

p.loading-message {
  font-style: italic;
  color: #3498db;
}

.music-list {
  display:contents;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.music-card {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin-bottom: 50px;
  }

.music-card h3 {
  font-size: 14px;
  margin-bottom: 8px;
}

.music-card button {
  padding: 8px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.music-card button:hover {
  background-color: #297fb8;
}

.music-card h3 {
    font-size: 14px;
    margin-bottom: 8px;
  }
