.music-card-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1px;
  }
  
  .music-card-container p {
    font-size: 20px;
    margin-bottom: 8px;
    margin-left: 13px;
  }
  

  .music-card-container audio {
    width: 100%;
    margin-bottom: 8px;
  }

  .music-card-container img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  
  .music-card-container input[type="checkbox"] {
    display: none;
  }

  .music-card-container label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .music-card-container input[type="checkbox"]:checked + label img {
    filter: grayscale(0);
    margin-right: 15px;
  }
  
  .music-card-container input[type="checkbox"] + label img {
    filter: grayscale(1);
    margin-right: 15px;
  }
  